<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Reddit Test Suit">
  <test thread-count="5" name="Data Gathering">
    <classes>
      <class name="testfiles.RedittTest"/>
    </classes>
  </test> <!-- Data Gathering -->
</suite> <!-- Reddit Test Suit -->
