<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RedditSuite">
  <test thread-count="5" name="RedditTest">
    <classes>
      <class name="testSuit.RedittTest"/>
    </classes>
  </test> <!-- RedditTest -->
</suite> <!-- RedditSuite -->
